body{
    font-family:garimond;
    background-color:#170d81;
}

h1, h2{
    color:white;
    text-align:center;
}

h1{
    font-size:25px;
}

h2{
    text-decoration: underline;
}

.bg{
    background-image:url(https://i.pinimg.com/originals/fb/f5/70/fbf57045c2858ed9cab5cfb3bba5f2fa.gif);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid #FFFFFF;
}

#cover-img{
    margin-bottom:50px;
    animation: covers 3s forwards;
}

@keyframes covers{
    from {
        height:200px;
    }
    
    to {
        height:400px;
    }
}

.covers2{
    animation: covers2 3s forwards;
}

.bghead{
    background-color:#1b1d6b;
    border:solid 3px white;
}

@keyframes covers2{
    from {
        font-size:30px;
    }
    
    to {
        font-size:55px;
    }
}

#title-text{
    font-style:italic;
    text-align: center;
    color:white;
    padding-top:150px;
    padding-bottom:150px
    
}

label{
    color:white;
}

.colorforexplore{
    color:white;
}