body{
    background-image:url(https://images.unsplash.com/photo-1543157145-f78c636d023d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zmxvd2VycyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    font-family: georgia;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #967bb6;
    text-align: center;
}

li {
    display:inline-block;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #734F96;
}

h1, h2, p{
    text-align: center;
    color:#734F96;
}

h1{
    font-size:30px;
}

h2{
    font-size:25px;
}

p{
    font-size:20px;
}

.symbol-heading{
    font-size:50px;
}

.info{
    color:#734F96;
}